p{ color:blue;
text-align: center;
font-size: 24px;}

body{background-color: gray;}

h1{color: black;
text-align: center;
text-decoration: underline;}
h2{text-align: center;
text-decoration: underline;}
